.on-hover--40 {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.animate {
    -webkit-animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -moz-animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}